<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow.Generator" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow.Utils" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="drivers" value="chromedriver,geckodriver,IEDriverServer"/>
    <add key="template1" value="bvs,bte,stp,ole,let,fun"/>
    <add key="template2" value="tbt,jen,set,tlc"/>

		<!--Page load time out is set to 2mins-->
		<add key="pageTimeout" value="120"/>

		<!--Find element time out is set to 2mins-->
		<add key="findTimeout" value="120"/>
		
		<!--command Timeout is set to 2hrs because of the queueing
		of the process in selenium grid(especially in IE :'( )-->
		<add key="commandTimeout" value="7200"/>
		
		<!--Polling time for FluentWait class (For finding the element)-->
		<add key="pollingTime" value="1500"/>
		
		<!--Polling time for FluentExplicitWait class (For refreshing the page)-->
		<add key="pollingRefreshTime" value="30"/>

		<!--Raw time buffer for executing the process-->
		<add key="processBufferTime" value="5"/>

		<!--Prioritization value for POM-->
		<add key="firstPriority" value="1"/>
		<add key="secondPriority" value="2"/>
		<add key="thirdPriority" value="3"/>
		
    <add key="bvs" value="http://qa-betvisionv2.mundenghjy.info/en-gb/" />
    <add key="bte" value="http://qa-beteastv2.mundenghjy.info/en-gb/" />
    <add key="stp" value="http://qa-sportpesav2.mundenghjy.info/en-gb/" />
    <add key="let" value="http://qa-letou.mundenghjy.info/en-gb/" />
    <add key="ole" value="http://qa-ole777.mundenghjy.info/en-gb/" />
		<add key="fun" value="http://qa-fun88v2.mundenghjy.info/en-gb/" />
    
    <add key="tbt" value="http://qa-12betv2.mundenghjy.info/en-gb/" />    
    <add key="jen" value="http://qa-jenningsbetv3.mundenghjy.info/en-gb/" />
    <add key="set" value="http://qa-setantabetv3.mundenghjy.info/en-gb/" />
    <add key="tlc" value="http://qa-tlcbetv2.mundenghjy.info/en-gb/" />	
		
		<add key="template1Hub" value="http://template1:4444/wd/hub"/>
		<add key="template2Hub" value="http://template2:4445/wd/hub"/>
  </appSettings>
  
    <specFlow>
      <language feature="en-US" />
      <unitTestProvider name="NUnit" />
      <runtime stopAtFirstError="false" detectAmbiguousMatches="true" missingOrPendingStepsOutcome="Inconclusive" />
      <plugins>
        <add name="SpecFlow.Plus.Excel" type="Generator" />
      </plugins>
      <trace traceSuccessfulSteps="true" traceTimings="false" stepDefinitionSkeletonStyle="MethodNameUnderscores" />
    </specFlow>
  
</configuration>